/* Start general */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Serif";
}

:root {
    --text-color:#000000;
    --background-color: #F3EFE0;
    --accent-color: #7180AC;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

/* End general */
/* Start header */

header {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--text-color);
}

header h1 {
    margin: 0;
    grid-column: 1;
    width: max-content;
}

header h1,
.navbar a {
    color: var(--background-color);
    font-family: "Roboto";
}

.navbar {
    grid-column: 2;
    text-align: right;
}

.navbar a {
    padding: 15px;
    border-radius: 5px;
}

.navbar a:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Dropdown bar */
.drop-button {
    display: none;
    padding: 15px;
    color: var(--background-color);
    background-color: var(--text-color);
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.drop-utton:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}
  
.dropdown {
    position: relative;
    margin-left: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    min-width: 120px;
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* End header */
/* Start main */

.gallery {
    margin-top: 60px;
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.project-item {
    text-align: center;
}

.gallery img {
    width: 300px;
    height: 300px
}

.gallery h2 {
    margin-bottom: 15px;
}

.project-item {
    cursor: pointer;
}

.project-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 255, 255, 0.9);
}

.project-info h2 {
    margin-top: 15px;
    text-align: center;
}

.project-info p {
    margin: 30px;
}

.close-button {
    position: absolute;
    right: 0;
    width: 25px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

.hide {
    display: none;
}

/* End main */
/* Start footer */

footer {
    padding: 30px 60px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--text-color);
}

footer h1 {
    font-size: 20px;
    margin: 0;
    grid-column: 1;
    width: max-content;
}

footer h1,
.contact a {
    color: var(--background-color);
    font-family: "Roboto";
}

.contact {
    grid-column: 2;
    text-align: right;
}

.contact a {
    margin: 15px;
    border-radius: 5px;
}

.contact a:hover {
    color: var(--text-color);
    background-color: var(--background-color);
}

.contact img {
    width: 50px;
    height: 50px;
}

.contact img:hover {
    transform: scale(1.25);
}

@media (max-width: 750px)  {
    header .navbar {
        display: none;
    }

    .drop-button {
        display: block;
    }
}